.Notifications {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px dashed #E0354B;
  padding: 1vw;
  font-family: Verdana;
}

.Notifications ul {
  margin-top: 1vmin;
  margin-left: 3vmin;
}

[data="default"] {
  color: blue;
}

[data="urgent"] {
  color: red;
}

.Notifications button {
  position: absolute;
  width: ;
  right: 1vmin;
  top: 1vmin;
  border: none;
}
